// 颜色
$accentColor = #F25260  // 主题颜色
$textColor = #D95525   // 文本颜色
$borderColor = #F2A03D  // 边框线颜色
$codeBgColor = #282c34  // 代码块背景色

$arrowBgColor = #F2E6CE

$badgeTipColor = #42b983
$badgeWarningColor = #F2A03D
$badgeErrorColor = #F22727

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px